<section id="about" class="about">
  <h2><span>Tentang</span> Kami</h2>

  <div class="row">
    <div class="about-img">
      <!-- img harus diambil dari folder assets. karena terbaca nya angular,json -->
      <img src="../../assets/images/Tentang-kami.jpg" alt="Tentang-kami" />
    </div>
    <div class="content">
      <h3>Kenapa memilih Kopi kami?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
        deserunt exercitationem, beatae modi qui esse?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus
        necessitatibus, facere omnis animi aliquam asperiores!
      </p>
    </div>
  </div>
</section>
